.parallax {
  /* The image used */
  background-image: url("/wood-bg.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.innerShadow {
 box-shadow:inset 0px 0px 0px 2px #4833CE;
}